.block-demo{
    background-color: aqua;
     margin: 6px 0px; /*top/bottom, left/right */
     margin: 6px 15px 10px 20px;
     padding: 8px; 
     display: block /* but div by default is display block */
     
}
.inline-demo{
    display: inline;
    background-color: pink;
     margin: 6px;
     padding: 4px;
     width: 120px;
     height: 100px;
/* inline elements, width and height elements cannot be manipulated */
     
}
.inline-block{
    display: inline-block;
    background-color: yellow;
     margin: 6px;
     /* padding: 4px; */
     width: 120px;
     height: 100px;
     line-height: 50px;
/* inline elements, width and height elements cannot be manipulated */
     
}
